@use "./variables" as *;

@mixin title_style{   
.title{
    font-family: $firstFont;
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    letter-spacing: 0.03em;
    color: $hoverColor;
    padding: 12px 24px;
    width: max-content;
    height: 50px;
    background-color: $titleBg;
}
}

@mixin learn_more{
.learn-more_button{
    display:flex;
    align-items: center;
    gap:10px;
    font-family: $firstFont;
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    letter-spacing: 0.03em;
    color: $hoverColor;
}
.arrow-icon{
    border-radius: 50%;
    box-shadow: 0 0 20px 0 rgba(105, 185, 157, 0.58);
}
}
