@use "../utils/variables"  as *;
@use "../utils/mixins"  as *;

.footer_class{
    background-color: $sections_bg;
    padding: 75px 0 100px;
}

.footer_wrapper{
    display: flex;
    align-items: center;
    gap:214px;
    justify-content: center;

    @media screen and (min-width: 480px) {
        flex-direction: column;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }

}

.footer_info__wrapper{
    width:351px;
}

.footer__info{
    font-family: $firstFont;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: $secondTextColor;
    margin: 16px 0 24px;
}

.email__label{
    font-family: $firstFont;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #0b2e29;
}

.email__form{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top:16px;
}

.email__input{
    padding:0 16px;
    width: 281px;
    height: 42px;
    background-color: #f8f9f9;
    border: none;
    font-family: $firstFont;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $textColor;
}

.submit_button{
    width:70px;
    height: 42px;
    background-color: $hoverColor;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: $firstFont;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
    border:none;
    transition:scale 0.3s ease-out;
}

.submit_button:hover{
    scale: 1.05;
}

.footer__navigation{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap:90px;

    @media screen and (min-width: 480px) {
        flex-direction: column;
    }

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.footer__service{
    display:flex;
    flex-direction: column;
    gap:16px;
    width:156px;
}

.footer_list__title{
    font-family: $firstFont;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #0b2e29;
}

.footer_community__list{
    display: flex;
    flex-direction: column;
    gap:16px;
}

.footer_list__link{
    font-family: $firstFont;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #575757;
    transition: color 0.3s ease-out;
}   

.footer_list__link:hover{
    color: $hoverColor;
}

.footer__community{
    display:flex;
    flex-direction: column;
    gap:16px;
}

.follow_us-on_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:16px;
    margin-top:16px;
}

.follow_us-on_link{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #f8f9f9;
    width:40px;
    height: 40px;
}