@use "../utils/variables" as *; 
@use "../utils/mixins" as *;

@include title_style;

.about{
    padding-top:80px;
    padding-bottom:100px;
    background-color: $sections_bg;
}

.about__info{
    width:100%;
    @include section_info;

    @media screen and (max-width: 480px) {
        max-width: 320px;
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        width:436px;
        text-align: left;
    }
}

.our-advante__list{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap:wrap;
    margin-top:40px;

    @media screen and (max-width: 480px) {
        flex-direction: column;
    }

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
    }
}

.our-advante__item{
    width:100%;
    padding:20px;

    @media screen and (max-width: 480px) {
        max-width: 320px;
    }

    @media screen and (min-width: 768px) {
        width: 376px;
    }
}

.our-advante__title{
    font-family: $firstFont;
    font-weight: 700;
    font-size: 28px;
    line-height: 136%;
    letter-spacing: 0.02em;
    color: #054457;
    margin:16px 0;
}

.our-advante__description{
    font-family: $firstFont;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0.03em;
    color: #73788c;
}